body {
  background-color: #222222;
  color: white;
  font-size: calc(10px + 1vmin);
  overflow: hidden;
}

a {
  color: #61dafb;
}

h1,h2,h3,h4,h5,h6 {
  margin: 2px;
  padding: 0px;
}

table {
  border-spacing: 2px 2px;
  margin: 2px 0px;
  width: 100%;
}

td, th {
  border: 0px;
  margin: 0px;
  padding: 10px
}

th {
  text-transform: uppercase;
}

tr {
  border: 0px;
  margin: 0px;
}

thead > tr {
  background: #333;
}

tbody > tr:nth-child(odd) {
  background: #444;
}

tbody > tr:nth-child(even) {
  background: #333;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.errorpage {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error404 {
  font-size: calc(300px + 1vmin);
}

.half {
  width: 50%;
}

.activityType {
  color: #f1f1f1;
  text-align: center;
  text-transform: uppercase;
}

.currentTime {
  font-family: monospace;
  font-size: 18pt;
  margin: 10px 10px;
  text-align: right;
}

.locationId {
  color: #f1f1f1;
  margin: 10px 10px;
  text-align: left;
}


.trainMessageCard {
  background-color: #4B4D52;
  margin: 10px;
  padding: 10px;
}