body {
  background-color: #222222;
  color: white;
  font-family: monospace;
  font-size: calc(10px + 1vmin);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2px;
  padding: 0px;
}

table {
  border-spacing: 2px 2px;
  margin: 2px 0px;
  width: 100%;
}

td,
th {
  border: 0px;
  margin: 0px;
  padding: 10px;
}

td {
  vertical-align: top;
  white-space: nowrap;
}

th {
  text-transform: uppercase;
}

tr {
  border: 0px;
  margin: 0px;
}

thead > tr {
  background: #333;
}

tbody > tr:nth-child(odd) {
  background: #444;
}

tbody > tr:nth-child(even) {
  background: #333;
}

/* Custom classes */

.activityType {
  color: #f1f1f1;
  text-align: center;
  text-transform: uppercase;
}

.clock {
  text-align: right;
  width: fit-content;
}

.currentTime {
  font-size: calc(18px + 1vmin);
  margin: 10px 10px;
  text-align: right;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.errorpage {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error404 {
  font-size: calc(100px + 1vmin);
}

.half {
  width: 50%;
}

.homePage {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.homePageInfo > li {
  padding: 10px;
}

.lastUpdateText {
  font-size: calc(8px + 1vmin);
  margin: 10px auto;
}

.locationId {
  color: #f1f1f1;
  margin: 10px 10px;
  text-align: left;
}

.locationSignature {
  color: rgba(241, 241, 241, 0.25);
  font-size: calc(8px + 0.5vmin);
}

.pageTitle {
  width: auto;
}

.scheduleLocation {
  width: 400px;
}

.scheduleTrack {
  text-align: center;
  width: 80px;
}

.scheduleTimeAtLocation {
  width: 200px;
}

.scheduleInfo {
  width: auto;
}

.stationBoard {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.stationBoardTrainIdent {
  text-align: left;
  width: 80px;
}

.stationBoardLocation {
  width: 250px;
}

.stationBoardTimeAtLocation {
  width: 80px;
}

.stationBoardTrackAtLocation {
  text-align: center;
  width: 80px;
}

.stationBoardInfo {
  width: auto;
}


.tableContent {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: scroll;
  width: 100%;
}

.tableContent::-webkit-scrollbar {
  display: none;
}

.trainMessageCard {
  background-color: #333;
  margin: 10px;
  padding: 10px;
}

.trainStatus {
  margin: 0px 10px;
}

/* Media queries */
@media screen and (max-width: 1000px) {
  body {
    font-size: calc(8px + 0.8vmin);
  }
}
@media screen and (max-width: 1200px) {
  .stationBoard {
    flex-direction: column;
  }
  .half {
    width: 100%;
  }
}
